@import './base.css';

#app {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
  }
}
