@import './base.css';

#app {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-primary-dark);
    background-color: rgba(0, 212, 255, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
  }
}
